.login-page{
    background-image: url("../../assets/IZaadjes Normaal.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.register-link {
    margin: 20px;
}