.registration-body {
    background-image: url("../../assets/IZaadjes Normaal.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.registration-title{
    font-size: 75px;
    margin-top: 50px;
    -webkit-text-fill-color: #F0D2A5;
    -webkit-text-stroke: 5px #000000;
    text-transform: uppercase;
}

.registration-form {
    background-color: #000000;
    height: 800px;
    width: 400px;
    display: flex;
    flex-flow: column;
    color: #F0D2A5;
    margin-top: 50px;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.input {
    background-color: #F0D2A5;
    font-size: 25px;
    width: 300px;
    margin: 20px;
}