.homepage{
    background-image: url("../../assets/background-homepage.png");
    position: relative;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.search-bar{
    align-items: flex-start;
}