* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

/*.outer-container {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: center;*/
/*  width: 100%;*/
/*}*/

/*.inner-container {*/
/*  flex-basis: 2000px;*/
/*  flex-shrink: 1;*/
/*  flex-grow: 0;*/
/*}*/

.label-text{
  text-transform: uppercase;
}